###
### CUSTOM STUFF
###

dist/game.js
dist/game.js.map
localhost.pem
localhost-key.pem
.env

###
### DOWNLOADED DEFINITIONS
###

# System and IDE files
Thumbs.db
.DS_Store
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log

# IDEA
.idea/